.produtos-moda{
    background-color:#BB86FC;
}

.produtos-casa{
    background-color:#00C4B4;
}

.valores-casa{
    background-color:#424250 ;
}

.valores-moda{
    background-color:#424250 ;
}


.color-moda{
    color:azure;
    text-align:center;
}

.color-casa{
    color:azure;
    text-align:center;
}





